/* src/styles/global.css */

@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --apricot: #FCC89B; /* Warna official Jihyo dari API tadi */
}

body {
  @apply bg-black text-white antialiased;
  font-family: 'Inter', sans-serif; /* Atau font pilihan lo */
}